body {
  background-image: url(../assets/img/repeated-square.png);
}
.container {
  font-family: courier new, sans-serif;
  margin-top: 80px;
  margin-bottom: 50px;
}
.navbar {
  box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.3);
  height: 55px;
  padding-left: 70px;
  padding-right: 70px;
}
input {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Helvetica, sans-serif;
}
.table {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.gambar {
  width: 220px;
}
.nama {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  line-height: 15px;
}       
.btn {
  font-size: 12px;
}
.logout {
  font-family: courier new, sans-serif;
}

/* Form Tambah dan Ubah Data */
.form-tambah {
  background-color: #f6e6e4;
width: 500px;
margin: 50px auto;
padding: 20px 20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.isi-tambah {
font-size: 17px;
}
h4 {
  font-family: Arial, sans-serif;
  background-color: #e2bcb7;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 20px;
}
