.container {
    font-family: courier new, sans-serif;
}
.gambar {
    width: 220px;
}
.nama {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 15px;
}       
.btn {
    font-size: 12px;
}
/* Form Tambah Data */
.form-tambah {
	width: 600px;
	margin: 20px auto;
	padding: 20px 20px;
	border: 1px solid grey;
}
.isi-tambah {
	font-size: 17px;
}
.tambah {
	margin-left: 127px;
}